# deps
/node_modules
/.pnp
.pnp.*

# next
/.next/
/out/

# env
.env
.env*.local

# debug
npm-debug.log*

# OS
.DS_Store
*.pem

# misc
*.tsbuildinfo
next-env.d.ts

# Hugo artifacts (backup reference)
.hugo_build.lock
/_hugo_backup/

# uploads (docker volume)
/public/uploads/*
!/public/uploads/.gitkeep
